{% style %}
  .custom--{{ block.id }} {
    background-color: {{ block.settings.background_color }};
    border: {{ block.settings.border_size }}px solid {{ block.settings.border_color }};
    border-radius: {{ block.settings.border_radius }}px;
    padding: {{ block.settings.padding }}px;
    width: {{ block.settings.width_percent }}%;
  }
{% endstyle %}

<div class="custom custom--{{ block.id }}">
  {{ block.settings.custom_liquid }}
</div>

{% schema %}
{
  "name": "t:names.custom_liquid",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "width_percent",
      "label": "Width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ff009d"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#ff009d"
    },
    {
      "type": "range",
      "id": "border_size",
      "label": "Border size",
      "min": 0,
      "max": 8,
      "step": 1,
      "unit": "px",
      "default": 2
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "Border radius",
      "min": 0,
      "max": 16,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding",
      "label": "Padding",
      "min": 12,
      "max": 40,
      "step": 4,
      "unit": "px",
      "default": 24
    },
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:settings.custom_liquid",
      "info": "t:info.custom_liquid"
    }
  ],
  "presets": [
    {
      "name": "t:names.custom_liquid",
      "category": "t:categories.custom"
    }
  ]
}
{% endschema %}
